ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 26px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
li{
    padding: 15px 0;
    list-style: none;
}
.search-container{
    display: flex;

}
.service-container{
    display: flex;

}
.response-container{
    position: absolute;
    background-color: lightgray;
    margin: 10px;
    display: flex;
    flex-direction: column;
}